// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../font/MontserratThin.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/MontserratRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../font/MontserratMedium.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../font/MontserratBold.ttf') format('truetype');
}
